<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href=".././assets/stylesheets/discovers.scss">

</head>

<body>

<div id="loading">
<div class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>
</div>

<script>
  // ページロードが完了したらアニメーションを閉じる
    window.onload = function() {
      const spinner = document.getElementById('loading');
      spinner.classList.add('loaded');
    }
</script>

<div class="contents">
<div class="box2">
<div class="ttl">
<p class="ex">あなたにおすすめのカスタムは…</p>
</div>
<h3></h3>

<!––--------------------------------------------------------------1 ––>
<div class="tweet-container">
  <div class="tweet">
       <% if @discover.question == "1111" %>

       <h1 class="name">ユースベリーゆずシトラス＆ティー </h1><p class="hot">(HOT)</p>

    
      <div class="sutaba">
      <%= image_tag"1.jpeg" %>
      </div>
    
       <h4>ゆずシトラスティー（HOT）　を注文</h4>
    
   <div class="container-box">
      <div class="custom">
        <ul><h5>ハニーホイップ追加 </h5></ul>
        <ul><h5>ユースベリーティーに変更</h5></ul>
      </div>
      <div class="balloon3-left">
       ￥～
   　　  </div>
   </div>
     <div class="balloon5">
       <div class="faceicon">
         <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
       </div>
       <div class="chatting">
         <div class="says">
           <p>さっぱり酸味にハニーホイップの甘さがマッチする！</p>
         </div>
       </div>
     </div>
   

<!––--------------------------------------------------------------2 ––>
    <% elsif @discover.question == "1112" %>
    <h1 class="name"> はちみつアールグレイティー</h1><p class="hot">(HOT)</p>

    
    <div class="sutaba">
      <%= image_tag"2.jpeg" %>
      </div>
 
    <h4>アールグレイティーラテ を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>フォームミルク多め</h5></ul>
     <ul><h5>はちみつ追加</h5></ul>
   </div>
   <div class="balloon3-left">
    ￥～
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>フォームミルクとはちみつで深みのある味わいに！</p>
      </div>
    </div>
  </div>

<!––--------------------------------------------------------------3 ––>
</div>
    <% elsif @discover.question == "1113" %>
    <h1 class="name">ソイチャイティーラテ </h1><p class="hot">(HOT)</p>

    
    <div class="sutaba">
    <%= image_tag"3.jpeg" %>
    </div>
 
    <h4>チャイティーラテ（HOT） を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>ソイミルクに変更</h5></ul>
     <ul><h5>オールミルクに変更</h5></ul>
     <ul><h5>シナモンパウダー追加</h5></ul>
   </div>
   <div class="balloon3-left">
    ￥～
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>～～～</p>
      </div>
    </div>
  </div>


 <!––--------------------------------------------------------------4 ––>
    <% elsif @discover.question == "1121" %>
    <h1 class="name">マーブルチョコレートココア</h1><p class="hot">(HOT)</p>

    
    <div class="sutaba">
      <%= image_tag"4.jpeg" %>
      </div>
 
    <h4>ココア（HOT）を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>ホワイトモカシロップ追加</h5></ul>
   </div>
   <div class="balloon3-left">
    ￥480
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>チョコレートを使った深みのある味わいです。濃厚な甘さとまろやかさが、楽しめる！</p>
      </div>
    </div>
  </div>

<!––--------------------------------------------------------------5 ––>
    <% elsif @discover.question == "1122" %>
    <h1 class="name">濃厚抹茶ラテ</h1><p class="hot">(HOT)</p>

    
    <div class="sutaba">
      <%= image_tag"5.jpeg" %>
      </div>

    <h4>抹茶ティーラテ を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>ソイミルクに変更</h5></ul>
     <ul><h5>オールミルク</h5></ul>
     <ul><h5>エキストラパウダー</h5></ul>
     <ul><h5>ノンシロップ</h5></ul>
     <ul><h5>チョコソース追加</h5></ul>
   </div>
   <div class="balloon3-left">
    ￥～
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>シロップを抜くことで、抹茶パウダーやチョコソースの甘さが際立つ！</p>
      </div>
    </div>
  </div>

<!––--------------------------------------------------------------6 ––>
<% elsif @discover.question == "1123" %>
<h1 class="name">チョコミントティーラテ</h1><p class="hot">(HOT)</p>

    
      <div class="sutaba">
      <%= image_tag"6.jpeg" %>
      </div>

<h4>ミントシトラス を注文</h4>

<div class="container-box">
<div class="custom">
 <ul><h5>オールミルク変更</h5></ul>
 <ul><h5>モカシロップ追加</h5></ul>
 <ul><h5>チョコレートソース追加</h5></ul>
</div>
<div class="balloon3-left">
￥~~
　　  </div>
</div>
<div class="balloon5">
<div class="faceicon">
  <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
</div>
<div class="chatting">
  <div class="says">
    <p>チョコミント好きにはたまらない味！ミントのすっきり感とチョコの甘さがマッチする！</p>
  </div>
</div>
</div>

<!––--------------------------------------------------------------7 ––>
    <% elsif @discover.question == "1131" %>
    <h1 class="name">濃厚カフェモカ</h1><p class="hot">(HOT)</p>

    
    <div class="sutaba">
      <%= image_tag"7.jpeg" %>
      </div>
 
    <h4>カフェモカ(HOT) を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>エクストラホイップ</h5></ul>
     <ul><h5>キャラメルソース追加</h5></ul>
   </div>
   <div class="balloon3-left">
    ￥ーー
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>フラペチーノのようなデザート感と濃厚さが増した一杯に！</p>
      </div>
    </div>
  </div>

<!––--------------------------------------------------------------8 ––>
    <% elsif @discover.question == "1132" %>
    <h1 class="name">はちみつミルクアールグレイティーラテ</h1><p class="hot">(HOT)</p>

    
    <div class="sutaba">
      <%= image_tag"8.jpeg" %>
      </div>

    <h4>アールグレイティーラテ を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>フォームミルク多め</h5></ul>
     <ul><h5>はつみつ2周</h5></ul>
     <ul><h5>全部ミルクに変更</h5></ul>
   </div>
   <div class="balloon3-left">
    ￥ーー
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>まろやかで甘い濃厚ミルクティーカスタム！ミルクのこくがおいしい</p>
      </div>
    </div>
  </div>

<!––--------------------------------------------------------------9 ––>
    <% elsif @discover.question == "1133" %>
    <h1 class="name">ジンジャーブレッドラテ</h1><p class="hot">(HOT)</p>

    
    <div class="sutaba">
      <%= image_tag"9.jpeg" %>
      </div>
 
    <h4>チャイティーラテ(HOT) を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>オーツミルクに変更 </h5></ul>
     <ul><h5>エスプレッソショット追加 </h5></ul>
     <ul><h5>ホイップクリーム追加 </h5></ul>
     <ul><h5>シナモンパウダー追加</h5><ul>
   </div>
   <div class="balloon3-left">
    ￥ーー
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>スパイス感をアップさせたエキゾチックなジンジャーブレッドラテ。冬はこれで暖まろう！</p>
      </div>
    </div>
  </div>

    <!––--------------------------------------------------------------10 ––>
    <% elsif @discover.question == "1211" %>
    <h1 class="name">濃厚カモミールティー</h1><p class="hot">(HOT)</p>

    
    <div class="sutaba">
      <%= image_tag"10.jpeg" %>
      </div>

    <h4>カモミールティーラテ を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>はちみつ追加 </h5></ul>
   </div>
   <div class="balloon3-left">
    ￥ーー
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>優しい甘みがカモミールティーと好相性でとっても美味しくなります</p>
      </div>
    </div>
  </div>


    <!––--------------------------------------------------------------11 ––>
    <% elsif @discover.question == "1212" %>
    <h1 class="name">ハイビスカスユズシトラスティー</h1><p class="hot">(HOT)</p>

    
    <div class="sutaba">
      <%= image_tag"11.jpeg" %>
      </div>
 
    <h4>ユズシトラスティー (HOT) を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>茶葉をハイビスカスに変更 </h5></ul>
   </div>
   <div class="balloon3-left">
    ￥ーー
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>鮮やかなピンクと元気が出るような酸味が特徴</p>
      </div>
    </div>
  </div>

    <!––--------------------------------------------------------------12 ––>
    <% elsif @discover.question == "1213"%>
    <h1 class="name">ユースベリーゆずシトラス＆ティー</h1><p class="hot">(HOT)</p>

    
    <div class="sutaba">
    <%= image_tag"12.jpeg" %>
    </div>
 
    <h4>ゆずシトラス＆ティー（HOT） を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>茶葉をユースベリーに変更 </h5></ul>
   </div>
   <div class="balloon3-left">
    ￥460
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>ローズヒップやアップル、シトラスの酸味が絶妙で後味はすっきり！</p>
      </div>
    </div>
  </div>


    <!––--------------------------------------------------------------13 ––>

    <% elsif @discover.question == "1221" %>
    <h1 class="name">キャラメルマキアート</h1><p class="hot">(HOT)</p>

    
    <div class="sutaba">
    <%= image_tag"13.jpeg" %>
    </div>
 
    <h4>キャラメルマキアート　(HOT) を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>アーモンドミルクに変更 </h5></ul>
   </div>
   <div class="balloon3-left">
    ￥ーー
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>いつもとは違うキャラメルマキアートを楽しみたい方に！</p>
      </div>
    </div>
  </div>

    <!––--------------------------------------------------------------14 ––>
    <% elsif @discover.question == "1222" %>
    <h1 class="name">キャラメル風味のホワイトモカ</h1><p class="hot">(HOT)</p>

    
    <div class="sutaba">
      <%= image_tag"14.jpeg" %>
      </div>
 
    <h4>ホワイトモカ(HOT) を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>キャラメルシロップ追加 </h5></ul>
     <ul><h5> </h5></ul>
   </div>
   <div class="balloon3-left">
    ￥ーー
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>甘さ控えめのホワイトモカ。クリームとキャラメルの味わいが絶妙</p>
      </div>
    </div>
  </div>

    <!––--------------------------------------------------------------15 ––>
    <% elsif @discover.question == "1223" %>
    <h1 class="name">ノンシロップ抹茶ティーラテ</h1><p class="hot">(HOT)</p>

    
    <div class="sutaba">
    <%= image_tag"15.jpeg" %>
    </div>
 
    <h4>抹茶ティーラテ を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>シロップ抜き </h5></ul>
     <ul><h5>抹茶パウダー増量 </h5></ul>
     <ul><h5>オーツミルク </h5></ul>
   </div>
   <div class="balloon3-left">
    ￥440
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>甘さ控えめで濃厚な抹茶の風味が楽しめる。抹茶好きにオススメ！！</p>
      </div>
    </div>
  </div>


    <!––--------------------------------------------------------------16 ––>
    <% elsif @discover.question == "1231" %>
    <h1 class="name">低カロリーチャイティーラテ</h1><p class="hot">(HOT)</p>

    
    <div class="sutaba">
      <%= image_tag"16.jpeg" %>
      </div>
 
    <h4>チャイティーラテ(HOT) を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>エクストラシロップ </h5></ul>
     <ul><h5>無脂肪乳 </h5></ul>
   </div>
   <div class="balloon3-left">
    ￥ーー
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>無脂肪乳で低カロリーに！でもシロップはたっぷりで濃厚に！</p>
      </div>
    </div>
  </div>


    <!––--------------------------------------------------------------17 ––>
    <% elsif @discover.question == "1232" %>
    <h1 class="name">ロイヤルミルクティー</h1><p class="hot">(HOT)</p>

    
    <div class="sutaba">
    <%= image_tag"17.jpeg" %>
    </div>
 
    <h4>イングリッシュブレックファースト を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>オーツミルクに変更 </h5></ul>
     <ul><h5>ホワイトモカシロップに変更 </h5></ul>
     <ul><h5>（お好みでエクストラホイップ） </h5></ul>
   </div>
   <div class="balloon3-left">
    ￥ーー
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>キャラメルの甘みと香りをプラスしたカスタム。スイーツのような1杯に。</p>
      </div>
    </div>
  </div>


    <!––--------------------------------------------------------------18 ––>
    <% elsif @discover.question == "1233" %>
    <h1 class="name">ドライカプチーノ</h1><p class="hot">(HOT)</p>

    
    <div class="sutaba">
      <%= image_tag"18.jpeg" %>
      </div>
 
    <h4>カプチーノ を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>フォームミルク多め </h5></ul>
     <ul><h5>シナモンパウダー追加 </h5></ul>
   </div>
   <div class="balloon3-left">
    ￥418
　　 </div>
    <div class="balloon4-left">
    110cal
    </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>ミルクの甘み、コーヒーのほろ苦さ、ふわふわの口当たりでぜいたくなカプチーノに。</p>
      </div>
    </div>
  </div>

    <!––--------------------------------------------------------------19 ––>
    <% elsif @discover.question == "2111" %>
    <h1 class="name">白桃風味のフラペチーノ</h1><p class="cold">(COLD)</p>

    
    <div class="sutaba">
      <%= image_tag"19.jpeg" %>
      </div>
 
    <h4>マンゴーパッションティーフラペチーノ を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>パッションティー抜き </h5></ul>
     <ul><h5>ホワイトモカシロップ追加 </h5></ul>
     <ul><h5>ホイップクリーム追加 </h5></ul>
   </div>
   <div class="balloon3-left">
    ￥ーー
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>マンゴーパッションティーフラペチーノで白桃風味が味わえる！</p>
      </div>
    </div>
  </div>


    <!––--------------------------------------------------------------20 ––>
    <% elsif @discover.question == "2112" %>
    <h1 class="name">果肉入りフラペチーノ</h1><p class="cold">(COLD)</p>

    
    <div class="sutaba">
      <%= image_tag"20.jpeg" %>
      </div>
 
    <h4>バニラクリームフラペチーノ を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>ホワイトモカ追加 </h5></ul>
     <ul><h5>キャラメルソース追加 </h5></ul>
     <ul><h5>シトラス果肉追加 </h5></ul>
   </div>
   <div class="balloon3-left">
    ￥ーー
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>ホワイトモカの甘さと果肉の酸味が絶妙にマッチ！。</p>
      </div>
    </div>
  </div>

  <!––--------------------------------------------------------------21 ––>
    <% elsif @discover.question == "2113" %>
    <h1 class="name">ピンクドリンク</h1><p class="cold">(COLD)</p>

    
    <div class="sutaba">
      <%= image_tag"21.jpeg" %>
      </div>
 
    <h4>アイスティー（パッション） を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>ホワイトモカシロップ追加 </h5></ul>
   </div>
   <div class="balloon3-left">
    ￥ーー
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>お菓子の小梅ちゃんのような爽やかな味わい。インスタ映えカスタムとしても有名。</p>
      </div>
    </div>
  </div>

    <!––--------------------------------------------------------------22 ––>
    <% elsif @discover.question == "2121" %>
    <h1 class="name">オレオ風フラペチーノ</h1><p class="cold">(COLD)</p>

    
    <div class="sutaba">
      <%= image_tag"22.jpeg" %>
      </div>

    <h4>バニラクリームフラペチーノ を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>チョコチップ追加 </h5></ul>
     <ul><h5>ホイップ多め </h5></ul>
     <ul><h5>ホワイトモカシロップに変更 </h5></ul>
   </div>
   <div class="balloon3-left">
    ￥540
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>オレオ？！ホイップを混ぜてから飲むと、アイスクリーム感が楽しめる！</p>
      </div>
    </div>
  </div>

    <!––--------------------------------------------------------------23 ––>
    <% elsif @discover.question == "2122" %>
    <h1 class="name">チャイチョコレートフラペチーノ</h1><p class="cold">(COLD)</p>

    
    <div class="sutaba">
      <%= image_tag"23.jpeg" %>
      </div>
 
    <h4>バニラクリームフラペチーノ を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>チャイシロップに変更 </h5></ul>
     <ul><h5>チョコレートチップ追加 </h5></ul>
     <ul><h5>チョコレートソース追加 </h5></ul>
     <ul><h5>ココアパウダー追加</h5></ul>
   </div>
   <div class="balloon3-left">
    ￥540
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>濃厚なチョコレートとチャイシロップのスパイシーな味わいがクセになる！</p>
      </div>
    </div>
  </div>

    <!––--------------------------------------------------------------24 ––>
    <% elsif @discover.question == "2123" %>
    <h1 class="name">宇治抹茶風カスタム</h1><p class="cold">(COLD)</p>

    
    <div class="sutaba">
      <%= image_tag"24.jpeg" %>
      </div>
 
    <h4>抹茶クリームフラペチーノ を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>ソイ変更 </h5></ul>
     <ul><h5>ノンホイップ </h5></ul>
     <ul><h5>ノンシロップ </h5></ul>
     <ul><h5>エクストラパウダー</h5></ul>
     <ul><h5>シナモン追加</h5></ul>
   </div>
   <div class="balloon3-left">
    ￥ーー
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>ホイップやシロップを抜くことで、濃厚な抹茶の味が楽しめます！抹茶好き必見！</p>
      </div>
    </div>
  </div>

    <!––--------------------------------------------------------------25 ––>
    <% elsif @discover.question == "2131" %>
    <h1 class="name">ホワイトほうじ茶ラテカスタム</h1><p class="cold">(COLD)</p>

    
    <div class="sutaba">
      <%= image_tag"25.jpeg" %>
      </div>
 
    <h4>ほうじ茶ティーラテ を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>キャラメルソース追加 </h5></ul>
     <ul><h5>ホワイトモカシロップ変更 </h5></ul>
     <ul><h5>エクストラミルク </h5></ul>
   </div>
   <div class="balloon3-left">
    ￥440
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>濃厚でクリーミーな甘さ。ミルクとほうじ茶の絶妙な味わいに！</p>
      </div>
    </div>
  </div>

    <!––--------------------------------------------------------------26 ––>
    <% elsif @discover.question == "2132" %>
    <h1 class="name">チャイフラペチーノ</h1><p class="cold">(COLD)</p>

    
    <div class="sutaba">
      <%= image_tag"26.jpeg" %>
      </div>
 
    <h4>バニラクリームフラペチーノ を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>チャイシロップに変更 </h5></ul>
     <ul><h5>低脂肪乳に変更 </h5></ul>
     <ul><h5>シナモン追加 </h5></ul>
     <ul><h5>はちみつ追加 </h5></ul>
   </div>
   <div class="balloon3-left">
    ￥490
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>甘さの中にスパイシーを感じられる暑い季節ぴったりのカスタマイズ</p>
      </div>
    </div>
  </div>

    <!––--------------------------------------------------------------27 ––>
    <% elsif @discover.question == "2133" %>
    <h1 class="name">コーヒー牛乳フラペチーノ</h1><p class="cold">(COLD)</p>

    
    <div class="sutaba">
    <%= image_tag"27.jpeg" %>
    </div>
 
    <h4>バニラクリームフラペチーノ を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>エスプレッソショット追加 </h5></ul>
   </div>
   <div class="balloon3-left">
    ￥540
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>苦みのあるエスプレッソでコーヒー牛乳のような味わいに</p>
      </div>
    </div>
  </div>

    <!––--------------------------------------------------------------28 ––>
    <% elsif @discover.question == "2211" %>
    <h1 class="name">白くま風フラペチーノ</h1><p class="cold">(COLD)</p>

    
    <div class="sutaba">
    <%= image_tag"28.jpeg" %>
    </div>
 
    <h4>バニラクリームフラペチーノ を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>ホワイトモカシロップに変更 </h5></ul>
     <ul><h5>シトラス果肉追加 </h5></ul>
   </div>
   <div class="balloon3-left">
    ￥649
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>練乳味のシャキシャキのアイスの上にフルーツがのった白くまのように味に！</p>
      </div>
    </div>
  </div>

    <!––--------------------------------------------------------------29 ––>
    <% elsif @discover.question == "2212" %>
    <h1 class="name">完熟マンゴーフラペチーノ</h1><p class="cold">(COLD)</p>

    
    <div class="sutaba">
      <%= image_tag"29.jpeg" %>
      </div>
 
    <h4>マンゴーパッションティーフラペチーノ を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>パッションティー抜き </h5></ul>
     <ul><h5>ホイップクリーム追加 </h5></ul>
   </div>
   <div class="balloon3-left">
    ￥520
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>口いっぱいにマンゴーのおいしさが広がる！さらに低カロリー！</p>
      </div>
    </div>
  </div>

    <!––--------------------------------------------------------------30 ––>
    <% elsif @discover.question == "2213" %>
    <h1 class="name">甘酸っぱいゆずシトラスティー</h1><p class="cold">(COLD)</p>

    
    <div class="sutaba">
    <%= image_tag"30.png" %>
    </div>
 
    <h4>ゆずシトラス＆ティー(ICE) を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>パッションティーに変更 </h5></ul>
   </div>
   <div class="balloon3-left">
    ￥460 
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>さっぱりすっきり！ジュースのような味に。ダイエット中におすすめ！</p>
      </div>
    </div>
  </div>

    <!––--------------------------------------------------------------31 ––>
    <% elsif @discover.question == "2221" %>
    <h1 class="name">濃厚ムースフォームラテ</h1><p class="cold">(COLD)</p>

    
    <div class="sutaba">
    <%= image_tag"31.jpeg" %>
    </div>
 
    <h4>ムースフォームラテ を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>無脂肪乳へ変更 </h5></ul>
     <ul><h5>アーモンドシロップ追加 </h5></ul>
     <ul><h5>キャラメルソース追加 </h5></ul>
   </div>
   <div class="balloon3-left">
    ￥ーー
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>甘さがほしい！でもカロリーはおさえたい！、、そんな方にお勧め！</p>
      </div>
    </div>
  </div>

    <!––--------------------------------------------------------------32 ––>
    <% elsif @discover.question == "2222" %>
    <h1 class="name">抹茶クリームフラペ</h1><p class="cold">(COLD)</p>

    
    <div class="sutaba">
    <%= image_tag"32.jpeg" %>
    </div>
 
    <h4>抹茶クリームフラペチーノ を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>無脂肪乳へ変更 </h5></ul>
     <ul><h5>ホイップ抜き </h5></ul>
     <ul><h5>シロップ抜き </h5></ul>
     <ul><h5>エクストラパウダー1，5倍</h5></ul>
   </div>
   <div class="balloon3-left">
    ￥ーー
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>ホイップやシロップを抜いて、より抹茶のコクを楽しもう。</p>
      </div>
    </div>
  </div>

    <!––--------------------------------------------------------------33 ––>
    <% elsif @discover.question == "2223" %>
    <h1 class="name">エスプレッソキャラメル</h1><p class="cold">(COLD)</p>

    
    <div class="sutaba">
    <%= image_tag"33.jpeg" %>
    </div>

    <h4>キャラメルフラペチーノ を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>無脂肪ミルク変更 </h5></ul>
     <ul><h5>ノンホイップ </h5></ul>
     <ul><h5>エスプレッソショット追加 </h5></ul>
   </div>
   <div class="balloon3-left">
    ￥ーー
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>甘いのが苦手な方におすすめ！エスプレッソショットでほろ苦く！</p>
      </div>
    </div>
  </div>

    <!––--------------------------------------------------------------34 ––>
    <% elsif @discover.question == "2231" %>
    <h1 class="name">キャラメルカフェオレ</h1><p class="cold">(COLD)</p>

    
    <div class="sutaba">
    <%= image_tag"34.jpeg" %>
    </div>
 
    <h4>コールドブリューコーヒーフラペチーノ を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>キャラメルシロップ追加 </h5></ul>
     <ul><h5>ムースフォーム追加 </h5></ul>
     <ul><h5>ココアパウダー上からかける </h5></ul>
   </div>
   <div class="balloon3-left">
    ￥517
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>最強カロリーオフ！キャラメルとココアパウダーコールドブリューと相性抜群！</p>
      </div>
    </div>
  </div>

    <!––--------------------------------------------------------------35 ––>
    <% elsif @discover.question == "2232" %>
    <h1 class="name">ホワイトモカ</h1><p class="cold">(COLD)</p>

    
    <div class="sutaba">
    <%= image_tag"35.jpeg" %>
    </div>
 
    <h4>ホワイトモカ(ICE) を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>エスプレッソショット追加</h5></ul>
   </div>
   <div class="balloon3-left">
    ￥539
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>ほろ苦さがプラスされた風味豊かな味わい。甘いのが苦手な方にも！！</p>
      </div>
    </div>
  </div>

    <!––--------------------------------------------------------------36 ––>
    <% elsif @discover.question == "2233" %>
    <h1 class="name">シトラス風味のカフェモカ</h1><p class="cold">(COLD)</p>

    
    <div class="sutaba">
    <%= image_tag"36.jpeg" %>
    </div>
 
    <h4>カフェモカ(ICE) を注文</h4>
 
<div class="container-box">
   <div class="custom">
     <ul><h5>シトラス果肉追加 </h5></ul>
   </div>
   <div class="balloon3-left">
    ￥ーー
　　  </div>
</div>
  <div class="balloon5">
    <div class="faceicon">
      <img src="https://d3vgbguy0yofad.cloudfront.net/images/og/logo.png" width="150" height="150">
    </div>
    <div class="chatting">
      <div class="says">
        <p>オレンジショコラのような風味！さっぱり飲めて癖になる。</p>
      </div>
    </div>
  </div>

    <% end %>
  <p class="nedan">※値段は全てTallサイズ注文の場合です。（税込）</p>
  <div class="share">
    ツイート
  </div>
  <div class="again">
    <a href="/discovers/new" class="again2">もう一度</a>
  </div>
</div>
</div>
</div>
</div>

</body>


</html>