<div class="contents">
<div class="header">

<div class="post-form">
<%= form_for @post do |f| %>
 
  <div class="field">
    <%= f.label :カスタム名 %>
    <%= f.text_field :name, :size => 30, placeholder: "カスタム名" %>
  </div>
  
<div class="cp_ipselect cp_sl01">
<select name="post[category]" id="post_category">
<option value="">選択して下さい</option>
<option value="フラペチーノ">フラペチーノ</option>
<option value="期間限定">期間限定</option>
<option value="ティー">ティー</option>
<option value="エスプレッソ">エスプレッソ</option>
<option value="コーヒー">コーヒー</option>
<option value="その他">その他</option>
</select>
</div>

<div class="field">
 <label for="file" class="filelabel">ファイル
  <input type="file" name="post[image]" id="post_image">
  </label>
</div>
<div class="field">
  <%= f.label :カスタム１ %>
  <%= f.text_field :custom1, :size => 30 %>
</div>
<div class="field">
  <%= f.label :カスタム２ %>
  <%= f.text_field :custom2, :size => 30 %>
　</div>
<div class="field">
  <%= f.label :カスタム３ %>
  <%= f.text_field :custom3, :size => 30 %>
　</div>
<div class="field">
  <%= f.label :カスタム４ %>
  <%= f.text_field :custom4, :size => 30 %>
　</div>
<div class="field">
  <%= f.label :カスタム５ %>
  <%= f.text_field :custom5, :size => 30 %>
　</div>
<div class="field">
  <%= f.label :感想 %>
  <%= f.text_field :about, :size => 30 %>
</div>

 

  <%= f.submit "投稿する" %>

<% end %>
</div>
</div>