
<div class="contents">
<div class="header">

<div class="post-form">
    <h2 class="heading">POST　FORM</h2>
    <%= form_for @post do |f| %>
    
      <div class="controls">
      <input type="text" class="FloatLabel" name="post[name]" id="post_name" placeholder="カスタム名">
      </div>
      
    <div class="cp_ipselect cp_sl01">
    <select name="post[category]" id="post_category">
    <option value="">カテゴリー</option>
    <option value="フラペチーノ">フラペチーノ</option>
    <option value="期間限定">期間限定</option>
    <option value="ティー">ティー</option>
    <option value="エスプレッソ">エスプレッソ</option>
    <option value="コーヒー">コーヒー</option>
    <option value="その他">その他</option>
    </select>
    </div>

    <div class="controls">
    <label for="file" class="filelabel">
     <%= f.file_field :image %>
    </label>
    </div>
    <h5 class="how-to">カスタム方法</h4>
    <div class="controls">
      <%= f.text_field :custom1, :size => 30, placeholder: "カスタム１" %>
    </div>
    <div class="controls">
   
      <%= f.text_field :custom2, :size => 30, placeholder: "カスタム２" %>
    </div>
    <div class="controls">
    
      <%= f.text_field :custom3, :size => 30, placeholder: "カスタム３" %>
    </div>
    <div class="controls">
  
      <%= f.text_field :custom4, :size => 30, placeholder: "カスタム４" %>
    </div>
    <div class="controls">

      <%= f.text_field :custom5, :size => 30, placeholder: "カスタム５" %>
    </div>
    <h5 class="how-to">感想（味や値段、カロリーなど）</h4>
    <div class="controls">
  
      <%= f.text_field :about, :size => 30, placeholder: "コメント" %>
    </div>

    

    <button type="submit" value="Submit" class="col-1-4">投稿</button>

    <% end %>
    </div>
</div>
