<div class="contents">
<div class="header">
<div class="back">
<section id="back">
<a href="#" class="back-to" onclick="history.back(-1);return false;"></a>
<button type="button" onclick="history.back()">
  <%= image_tag"back-button.png" %>
</button>
</section> 
</div>
<div class="tweet-container">
  <div class="tweet">
  <div class="hash"><p>#<%= @post.category %></p></div>
  <div class="sutaba">
  <%= image_tag @post.image.url %>
  </div>
  <h4><%= @post.name %>　を注文</h4>
  <div class="container-box">
      <div class="custom">
      <span>custom</span>
        <ul><h5><%= @post.custom1 %></h5></ul>
        <ul><h5><%= @post.custom2 %></h5></ul>
        <ul><h5><%= @post.custom3 %></h5></ul>
        <ul><h5><%= @post.custom4 %></h5></ul>
        <ul><h5><%= @post.custom5 %></h5></ul>
      </div>
      <div class="custom">
            <span>comment</span>
              <p><%= @post.about %></p>
      </div>
      <div class="comm-box">
        <div class="comm">
          <span><%= @post.created_at.strftime('%Y/%m/%d')  %></span>
        </div>   
        <div class="comm">
          <div class="tooltip3">  
            <p>
                <% if user_signed_in? %>
                    <% if current_user.already_liked?(@post) %>
                        <%= link_to post_like_path(@post), method: :delete do %>
                          <i class="fas fa-heart fa-lg"></i><%= @post.likes.count %>
                        <% end %>
                    <% else %>
                        <%= link_to post_likes_path(@post), method: :post do %>
                          <i class="far fa-heart fa-lg"></i><%= @post.likes.count %>
                        <% end %>
                    <% end %>
                <% else %>
                  <i class="far fa-heart fa-lg"></i><%= @post.likes.count %>
                <% end %>
              </p>
        
              <div class="description3">
              <% @post.liked_users.each do |user| %>
              <%= user.name %>
              <% end %>
              </div>
          </div>
        </div>
      </div>  
  </div>

</div>

<div>